## Yasmine Dawud
## Individual Project 3
## April 23, 2023

In [2]:
#import required libraries
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn import preprocessing

In [4]:
#read CSV
df = pd.read_csv("/kaggle/input/credit-fraud/credit_fraud.csv")
df.head()

,id,over_draft,credit_usage,credit_history,purpose,current_balance,Average_Credit_Balance,employment,location,personal_status,...,property_magnitude,cc_age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,1,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,2,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,3,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,4,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,5,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,...,no known property,53,none,for free,2,skilled,2,none,yes,bad

In [6]:
#Define the index
columns = ['id','over_draft','credit_usage','credit_history','purpose','current_balance','Average_Credit_Balance','employment','location','personal_status','other_parties', 'residence_since','property_magnitude','cc_age', 'other_payment_plans', 'housing','existing_credits','job', 'num_dependents', 'own_telephone', 'foreign_worker','class']
df =df.iloc[301:,:]
df=df.reset_index(drop=True)
df.columns=columns
print('Shape: ',df.shape)
df.head()

Shape:  (699, 22)

,id,over_draft,credit_usage,credit_history,purpose,current_balance,Average_Credit_Balance,employment,location,personal_status,...,property_magnitude,cc_age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,302,0<=X<200,36,no credits/all paid,radio/tv,3804,<100,1<=X<4,4,female div/dep/mar,...,car,42,none,own,1,skilled,1,yes,yes,bad
1,303,>=200,24,critical/other existing credit,new car,1344,no known savings,4<=X<7,4,male single,...,real estate,37,bank,own,2,unskilled resident,2,none,yes,bad
2,304,<0,10,critical/other existing credit,new car,1038,<100,4<=X<7,4,male single,...,life insurance,49,none,own,2,skilled,1,yes,yes,good
3,305,no checking,48,critical/other existing credit,new car,10127,500<=X<1000,1<=X<4,2,male single,...,no known property,44,bank,for free,1,skilled,1,none,yes,bad
4,306,no checking,6,existing paid,furniture/equipment,1543,>=1000,1<=X<4,4,male div/sep,...,real estate,33,none,own,1,skilled,1,none,yes,good

In [7]:
#checking the data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      699 non-null    int64
 1   over_draft              699 non-null    object
 2   credit_usage            699 non-null    int64
 3   credit_history          699 non-null    object
 4   purpose                 699 non-null    object
 5   current_balance         699 non-null    int64
 6   Average_Credit_Balance  699 non-null    object
 7   employment              699 non-null    object
 8   location                699 non-null    int64
 9   personal_status         699 non-null    object
 10  other_parties           699 non-null    object
 11  residence_since         699 non-null    int64
 12  property_magnitude      699 non-null    object
 13  cc_age                  699 non-null    int64
 14  other_payment_plans     699 non-null    object
 15  housing                 699 non-null    object
 16  existing_credits        699 non-null    int64
 17  job                     699 non-null    object
 18  num_dependents          699 non-null    int64
 19  own_telephone           699 non-null    object
 20  foreign_worker          699 non-null    object
 21  class                   699 non-null    object
dtypes: int64(8), object(14)
memory usage: 120.3+ KB

In [10]:
le = preprocessing.LabelEncoder()

# Converting string labels into numbers.
df['over_draft'] = le.fit_transform(df['over_draft'])
df['credit_history'] = le.fit_transform(df['credit_history'])
df['purpose'] = le.fit_transform(df['purpose'])
df['Average_Credit_Balance'] = le.fit_transform(df['Average_Credit_Balance'])
df['employment'] = le.fit_transform(df['employment'])
df['personal_status'] = le.fit_transform(df['personal_status'])
df['other_parties'] = le.fit_transform(df['other_parties'])
df['property_magnitude'] = le.fit_transform(df['property_magnitude'])
df['other_payment_plans'] = le.fit_transform(df['other_payment_plans'])
df['housing'] = le.fit_transform(df['housing'])
df['job'] = le.fit_transform(df['job'])
df['own_telephone'] = le.fit_transform(df['own_telephone'])
df['foreign_worker'] = le.fit_transform(df['foreign_worker'])
df['class'] = le.fit_transform(df['class'])

In [12]:
df['id'] = [int(row) for row in df['id']]
df['credit_usage'] = [int(row) for row in df['credit_usage']]
df['current_balance'] = [int(row) for row in df['current_balance']]
df['location'] = [int(row) for row in df['location']]
df['residence_since'] = [int(row) for row in df['residence_since']]
df['cc_age'] = [int(row) for row in df['cc_age']]
df['existing_credits'] = [int(row) for row in df['existing_credits']]
df['num_dependents'] = [int(row) for row in df['num_dependents']]

In [13]:
#Defining the Gaussian curve
print('Shape: ',df.shape)
df.head()

Shape:  (699, 22)

,id,over_draft,credit_usage,credit_history,purpose,current_balance,Average_Credit_Balance,employment,location,personal_status,...,property_magnitude,cc_age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,302,0,36,4,6,3804,2,0,4,0,...,0,42,1,1,1,1,1,1,1,0
1,303,2,24,1,4,1344,4,1,4,3,...,3,37,0,1,2,3,2,0,1,0
2,304,1,10,1,4,1038,2,1,4,3,...,1,49,1,1,2,1,1,1,1,1
3,305,3,48,1,4,10127,1,0,2,3,...,2,44,0,0,1,1,1,0,1,0
4,306,3,6,3,3,1543,3,0,4,1,...,3,33,1,1,1,1,1,0,1,1

In [14]:
# splitting the data
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:-1].values, df.iloc[:,-1:].values,
                                                    test_size=0.2, random_state=0)

In [18]:
#Modeling 
#Use sklearn package to model data
clf = GaussianNB().fit(X_train, y_train)

#The coefficients
y_pred = clf.predict(X_test)
print('Accuracy score: ',accuracy_score(y_test, y_pred))

Accuracy score:  0.75

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)